# Ignore the Maven target directory
target/

# Ignore IDE config files
.idea/
*.iml

# Ignore logs and temp files
*.log
*.tmp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Git files
.git
.gitignore
